*{
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: #FF4B00;
}

label{
  color: #212529;
  font-weight: 550;
  margin-bottom: 5px !important;
}

input,button{
  box-shadow: none !important;
}

.btn{
  padding: 6px 15px;
  border-radius: 50px;
}

.org-color{
  color: #FF4B00;
}

/* Custom button */
.custom-btn{
  color: #fff;
  font-weight: 600;
  background-color: #FF4B00;
}

.custom-btn:hover{
  color: #fff;
  background-color: #E14201;
  border: 1px solid #E14201;
}

/* Active Link */
.active{
  border-color: #fff !important;
  color: #E14201 !important;
  background-color: #fff !important;
  font-weight: 500;
}

/* Hero text */
.hero-text{
  font-size: 18px;
}

/* Cab list */

.cab-list{
  display: block;
  cursor: pointer;
}

.cab-list input{
  display: none;
}

.cab-list input:checked + .cab-data{
  border-color: #212529 !important;
}


/* Dashboard main container */
@media screen and (max-width: 768px) {
  .container-md{
    padding-inline: 25px;
  }
}

/* Google Map Container */

.map-container{
  min-height: 80vh;
}

@media screen and (max-width: 991px) {
  .map-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 93vh;
    z-index: -1;
    margin: 0 !important;
  }
}

@media screen and (max-width: 768px) {
  .map-container{
    position: static;
    margin: 25px 0 !important;
  }
}

.google-map{
  width: 100%;
  height: 100%;
}



/* pickup input  */

.pickup-input{
  display: grid;
  grid-template-columns: 3fr auto;
}

.pickup-input button{
  border-radius: 6px !important;
  padding-inline: 10px !important;
  display: flex;
  align-items: center;
}

.pickup-input button span{
  display: none;
}

.pickup-input button:hover span{
  width: max-content;
  display: inline-block;
}

/* Navbar Title */

.navbar-brand{
  color: #fff;
}

.navbar-brand:hover{
  color: #fff;
}
